.App {
  text-align: center;
}
header {
  display: flex;
  padding: 10px 80px;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}
img {
  height: 50px;
  width: 100px;
}

ul {
  display: flex;
  gap: 20px;
}
li {
  list-style-type: none;
  font-size: 24px;
}
li a {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
  font-weight: 700;
}
